/* Basic Reset */
/* #EDEEC0 */
/* #1c7c54 */
/* #162521 */

/* CLEAN MODERN */
// background
$E-bg-primary: #feffff;
$E-bg-primary-bright: rgb(240, 205, 119);
$E-bg-primary-mid: #1c7c54;
$E-bg-primary-mid-fade: #1c7c5488;

// font
$E-text-primary: #17252a;
$E-text-primary-fancy: #3aafa9;
/*****************/
// primary
$color-primary-light: #eaebce;
$color-primary-light-fade: #eaebce55;
$color-primary-light-2: #f5f5e4;
$color-primary-mid: #1c7c54;
$color-primary-dark: #0d271d;
$color-primary-dark-fade: #093121d3;

// secondary
$color-secondary-dark: #162521;
$color-secondary-dark-fade: #162521dd;

// text
$color-primary-text: rgba(224, 155, 26, 0.8);
$color-secondary-text: goldenrod;

$color-text-light: #fff;
$color-text-dark: #232323;

// TEST GRID
$grid-width: 70rem;
$grid-gutter-vertical: 5rem;
$grid-gutter-horizontal: 5rem;
